.compare {
  background: #f3f3f3;
  font-family: $font;
  padding: 2.85rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; // Alinha todo o texto à esquerda

  &__title {
    color: #096639;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem; /* 166.667% */
    text-transform: capitalize;
  }

  &__content {
    width: 80%; // Define a largura de 80%
    display: flex;
    flex-direction: column;
    align-items: center; // Centraliza os filhos do conteúdo
    gap: 2rem; // Espaçamento entre os elementos
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: 7rem;
  }

  &__empresa {
    display: flex;
    gap: 4rem;
    position: relative; // Adiciona posição relativa para o posicionamento do triângulo
  }

  &__main {
    border: 3px solid #09a93f;
    border-radius: 1.85rem;
    width: 28rem;
    height: 30rem;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__input {
    color: #096639;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__atual {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #096639;
    color: #096639;
    border-radius: 1.85rem;
    height: 20rem;
    width: 12rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__nova {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #09a93f;
    background-color: #09a93f;
    color: #ffffff;
    border-radius: 1.85rem;
    height: 20rem;
    width: 12rem;
    position: relative; // Adiciona posição relativa para o triângulo ser posicionado em relação a este card

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &__selection {
    margin-top: -0.5rem;
  }

  &__economia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main input[type="number"] {
    border: 1px solid #096639;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: transparent;

    &:focus {
      border: 2.5px solid #096639;
      outline: none; /* Remove a borda padrão azul */
    }
  }

  &__dado {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__retangulo {
    margin-top: 1rem;
    width: 1rem;
    height: 10rem;
    background-color: #f7aa06;
  }

  &__where {
    font-weight: 700;
    color: #096639;
    margin: 1rem 0;
  }

  article {
    line-height: 2rem; /* 200% */
    font-size: 1rem;
    color: #096639;
    width: 25rem;
  }

  // Estilos para o triângulo
  .compare__empresa img[src*="triangulo"] {
    position: absolute; // Posiciona o triângulo de forma absoluta
    top: -15px; // Ajuste a distância conforme necessário
    left: 50%; // Centraliza o triângulo horizontalmente em relação ao card
    transform: translateX(-50%); // Garantir que ele esteja centralizado
    width: 50px; // Aumentei o tamanho para 60px, ajuste conforme necessário
  }
}

#preco-atual,
#preco-nova {
  font-size: 2.25rem;
}

#comparar {
  width: 15rem;
  height: 3rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid #09a93f;
  background: #09a93f;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
}
