.vantagens {
    background: #F3F3F3;
    /* Cor de fundo */
    font-family: $font;
    display: flex;
    justify-content: center;
    padding: 4rem 0;

    &__content {
        display: flex;
        justify-content: center;
        width: 85%;
        gap: 8rem;
    }

    &__first {
        padding: 2rem 0;
    }

    &__veja {
        color: #09A93F;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
    }

    &__title {
        color: #096639;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 5rem;
        text-transform: capitalize;
    }

    &__iten {
        display: flex;
        /* Organiza os itens na vertical */
        align-items: flex-start;
        /* Alinha os itens à esquerda */
        text-align: left;
        /* Garante que o texto fique alinhado à esquerda */
        gap: 1rem;
        /* Espaçamento entre os elementos */
        margin: 4rem 0;
        /* Espaçamento inferior para separar os itens */
    }

    &__iten img {
        width: 100px;
        /* Tamanho fixo para a imagem */
        height: auto;
        margin-bottom: 1rem;
        /* Espaçamento entre a imagem e o título */
    }

    &__iten h2 {
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.375rem;
        /* 146.154% */
        color: #09A93F;
    }

    &__iten article {
        width: 28rem;
        color: #666;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        /* 177.778% */
    }
}