.conhecendo {
  background: #f3f3f3;
  font-family: $font;
  padding: 2.85rem 0;

  &__content {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 2000px;

    p {
      color: #09a63e;
      font-size: 1rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    h2 {
      color: var(--Color-2, #096639);
      font-family: Poppins;
      font-size: 3.75rem;
      font-weight: 700;
      line-height: 5rem;
      text-transform: capitalize;
    }

    article {
      color: var(--Color-2, #096639);
      font-family: Poppins;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 2rem;
      width: 37.0625rem;
      height: 8.375rem;
    }
  }

  &__data {
    display: flex;
    gap: 2rem;
    /* Espaçamento entre os itens */

    .conhecendo__iten {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* Centraliza os itens dentro de cada div */
      justify-content: center;
    }

    .number {
      color: #096639;
      font-size: 2rem;
      font-weight: bold;
      margin-left: 1rem;
      /* Espaço à esquerda do número */
    }

    .info {
      color: #666666;
      font-size: 1rem;
      font-weight: 400;
    }

    i {
      font-size: 3rem;
      color: #ffffff;
      padding: 1rem;
      background-color: #09a93f;
      border-radius: 50%;
      display: inline-block;
      /* Garante que o ícone fique alinhado ao lado do número */
    }

    .conhecendo__principal {
      display: flex;
      align-items: center;
      /* Alinha verticalmente o ícone e o número */
      gap: 1rem;
      /* Espaçamento entre o ícone e o número */
    }
  }
}
