.missao {
  font-family: $font;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 2000px;
  }

  background-color: #ffffff;

  i {
    color: #09a93f;
    text-align: center;
  }

  h2 {
    color: #09763a;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }

  .sun {
    font-size: 6rem;
    padding: 2rem 0;
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 20rem;
    align-items: center;
    border-radius: 1.85rem;
    border: 5px solid #09a93f;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;

    &.active {
      background-color: #09a93f;
      color: #ffffff;
      line-height: 150%;

      .default-content,
      .default-title,
      .add-icon.default {
        display: none;
      }

      .additional-content,
      .add-icon.additional {
        display: block;
      }
    }

    .default-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
    }

    .icon-title {
      font-size: 4rem;
      color: #09a93f;
    }

    .default-title {
      color: #09a93f;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 130%;
    }

    .additional-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      color: #ffffff;
      line-height: 2.5;
      text-align: center;
      padding: 1rem;
    }

    .texto-content {
      margin-bottom: 3rem;
      font-weight: 700;
      line-height: 150%;
      font-size: 1.25rem;
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .default-content {
      display: block;
    }

    .additional-content {
      display: none;
    }

    .card.active .additional-content {
      display: block;
    }

    .card .default-content {
      display: block;
    }

    .card.active .default-content {
      display: none;
    }

    .add-icon {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 3rem;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .add-icon.default {
      display: block;
    }

    .add-icon.additional {
      display: block;
      color: #ffffff;
    }

    .card.active .add-icon.default {
      display: none;
    }

    .card.active .add-icon.additional {
      display: block;
      color: #ffffff;
      bottom: 10px;
      left: 10px;
    }
  }

  @media (max-width: 1200px) {
    h2 {
      font-size: 3rem;
      line-height: 4rem;
    }

    .missao__cards {
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 80%;
      margin: 1rem 0;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

    .missao__cards {
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 90%;
    }

    .card .default-title {
      font-size: 2rem;
    }

    .card .texto-content {
      font-size: 1rem;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    .card {
      width: 100%;
    }

    .card .default-title {
      font-size: 1.75rem;
    }

    .card .texto-content {
      font-size: 0.875rem;
    }
  }
}
