.economize {
  background: #f3f3f3;
  font-family: $font;
  padding: 3rem 0;
  color: #096639;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: #f7aa06;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 2rem;

    img {
      margin-top: -2.6rem;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    hr {
      width: 0.4rem;
      height: 5rem;
      background-color: #ffffff;
      border: none;
    }

    article {
      text-align: left;
      color: #ffffff;
      width: 45rem;
      font-size: 1.25rem;
    }

    .economize__link {
      align-self: center;
      display: inline-block;
      text-decoration: none;
      border-radius: 0.45rem;
      border: 3px solid #f5f6f7;
      background-color: #09a93f;
      font-weight: 700;
      color: #ffffff;
      padding: 0.85rem 1.5rem;
      white-space: nowrap;
      text-align: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #0c7f32;
        color: #e6e6e6;
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  @media (max-width: 768px) {
    .economize__content {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }

    article {
      font-size: 1rem;
      width: auto;
    }

    .economize__link {
      width: 100%;
      padding: 0.75rem 1rem;
    }

    img {
      max-width: 50%;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }

    hr {
      display: none;
    }
  }

  @media (max-width: 550px) {
    .economize__content {
      flex-direction: column;
      gap: 1rem;
    }

    article {
      font-size: 0.9rem;
    }

    img {
      max-width: 80%;
    }

    .economize__link {
      width: auto;
      padding: 0.65rem 1rem;
    }

    hr {
      display: none;
    }
  }
}
