// Estilos específicos para a seção .blog
.blog {
  background: #f3f3f3;
  font-family: $font;
  padding: 3rem 0; // Alterado para valor inteiro
  color: #096639;

  &__content {
    text-align: start; // Alinha o texto à esquerda
    width: 80%; // Define a largura do conteúdo da seção
    margin: 0 auto; // Centraliza o conteúdo dentro da seção

    h2 {
      font-size: 2.25rem; // Mantido o valor já arredondado
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 3rem;
    }

    .blog__cards {
      display: flex;
      justify-content: space-between; // Espaço entre os cards
      gap: 2rem; // Espaçamento entre os cards
      flex-wrap: wrap; // Permite que os cards quebrem linha quando necessário

      div {
        width: 22%; // Mantido valor para os cards

        img {
          width: 100%; // Faz a imagem ocupar toda a largura do card
          height: auto; // Mantém a proporção da imagem
          border-radius: 0.5rem; // Arredonda os cantos da imagem
        }

        h3 {
          margin-top: 1rem; // Espaçamento entre a imagem e o título
          font-size: 1rem; // Arredondado para inteiro
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem; // Arredondado para .5
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;
          margin-bottom: 0.5rem; // Adicionando espaço após o título
        }

        article {
          margin-top: 0.5rem; // Espaçamento entre o título e o texto
          font-size: 1rem; // Arredondado para inteiro
          line-height: 1.5rem; // Arredondado para .5
          font-style: normal;
          font-weight: 400;
          margin-bottom: 0.5rem; // Adicionando espaço após o texto do artigo
        }

        p {
          font-size: 1rem; // Arredondado para inteiro
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem; // Arredondado para .5
        }
      }
    }

    .blog__card {
      display: flex;
      flex-direction: column;
      gap: 0.85rem;
    }
  }
}
  